html,
body {
    height: 100%;
    background: black;
    min-height: 630px;
}

.top-nav {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 20;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.invert-nav {
  color: black;
  border-bottom: 5px solid black;
}

.nav-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: 1;
  transition: all 0.5s ease;
}

.top-nav img, footer img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.invert-nav img {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.invert-nav-background {
  background-color: whitesmoke;
  opacity: 1;
}

#projects-link:hover, #bio-link:hover, #tools-link:hover {
  cursor: pointer;
}

.icons {
  flex: 1;
  z-index: 5;
  margin-left: 17.5%;
}

.icons img {
  height: 30px;
  margin: 0 50px;
}

.icons img:hover {
  cursor: pointer;
}

.spacer {
  /* flex: 1; */
  max-width: 60%;
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
  margin-right: 5%;
}

.navigation p {
  display: block;
  transition: all 0.6s ease;
  padding: 20px 20px;
  /* border-radius: 5px; */
}

.current-nav {
  background: whitesmoke;
  color: black;
}

.current-nav-inverted {
  background: black;
  color: whitesmoke;
}

.splash {
  display: block;
  height:100%;
  width: 100%;
}

.splash h1 {
  position: relative;
  top: -60%;
  color: whitesmoke;
  font-size: 78px;
  margin-left: 7%;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.word-1-holder {
  position: absolute;
  top: -200px;
  left: 10%;
  width: 1000px;
  transition: opacity 0.7s ease;
}

.word-2-holder {
  position: absolute;
  top: 300px;
  left: 10%;
  width: 1000px;
  transition: opacity 0.7s ease;
}

.disappear {
  opacity: 0;
}

.top-letter {
  opacity: 0;
  position: relative;
  top: -200px;
  transition: all 0.5s ease;
}

.bottom-letter {
  opacity: 0;
  position: relative;
  top: 300px;
  transition: all 0.5s ease;
}

.top-letter-show {
  opacity: 1;
  top: 200px;
}

.bottom-letter-show {
  opacity: 1;
  top: -220px;
}

.splash h4 {
  display: block;
  width: 100px;
  position: relative;
  top: -40%;
  color: whitesmoke;
  font-size: 78px;
  margin-left: 21%;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.splash h4:hover, .headshot-wrapper h4:hover, .scroll-button-3:hover {
  cursor: pointer;
}

.lava {
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
  left: 65%;
  width: 25%;
  height: 100%;
}

.lava:hover {
  cursor: crosshair;
}

.splash-background {
  background-color: black;
  display: block;
  /* width: 100%; */
  /* height: 100%; */
}

.bio-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: black;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
  z-index: 10;
  background-color: black;
  color: whitesmoke;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.headshot-wrapper {
  height: 100%;
  width: 520px;
  margin: auto 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.headshot-container {
  border: 5px solid whitesmoke;
  min-height: 420px;
  max-height: 420px;
  width: 420px;
  border-radius: 210px;
  margin: 40px auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.scroll-button-2 {
  font-size: 42px;
  color: whitesmoke;
  margin-top: 50px;
  position: relative;
  bottom: 85px;
  z-index: 20;
  font-weight: bold;
}

.scroll-button-2:hover {
  cursor: pointer;
}

.bio-article-container {
  height: 100%;
  width: 50%;
  border-top: 5px solid whitesmoke;
  white-space: nowrap;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.bio-section {
  /* border: 1px solid pink; */
  width: 90%;
  height: 90%;
  white-space: normal;
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bio-section img {
  width: 475px;
  margin-bottom: 60px;
}

.bullets {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.bullets img {
  margin-top: 5px;
  margin-left: 6%;
}

.bio-section p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
}

.education {
  /* border: 5px solid whitesmoke; */
  border-radius: 5px;
  padding: 10px;
  /* background-color: whitesmoke; */
}

.education  p {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.click-me:hover {
  cursor: pointer;
}

.divider {
  width: 90%;
  border-top: 5px solid whitesmoke;
  background-color: black;
  z-index: 15;
}

.tech-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
  background-color: black;
  /* border: 1px solid green; */
}

.tech {
  display: block;
  height: 100%;
  width: 80%;
}

.tech-container img {
  height: 50%;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
}

.tech-background {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.tech-container ul {
  align-content: center;
  position: relative;
  z-index: 5;
  height: 100%;
}

.tech-icon {
  display: inline-block;
  height: 28%;
  width: 20%;
  z-index: 20;
  margin-left: 4%;
  margin-top: 1%;
}

.tech-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tech-container p {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 10%;
}

.scroll-button-3 {
  font-size: 42px;
  color: whitesmoke;
  margin-bottom: 30px;
  z-index: 16;
  position: relative;
  top: -60px;
  font-weight: bold;
}

.scroll-button-3:hover {
  cursor: pointer;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  width: 100%;
  /* border: 1px solid purple; */
  background-color: whitesmoke;
  padding-top: 60px;
}

.project {
  width: 100%;
  height: 100%;
  /* border: 5px solid whitesmoke;
  border-radius: 10px; */
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: black;
  padding: 0 30px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 200px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: 120px 40px 30px 40px;
  list-style: disc;
}

.features li p {
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
}

.features li:first-child {
  font-weight: 800;
}

.project-divider {
  width: 2%;
  height: 90%;
  border-right: 2px solid whitesmoke;
}

.project h2 {
  font-size: 56px;
  font-weight: 600;
  padding-top: 40px;
}

.screenshot {
  height: 400px;
  margin-top: 20px;
}

.mobile-screenshots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot-mobile {
  margin-top: 20px;
  width: 300px;
}

.screenshot-mobile-2 {
  margin-top: 20px;
  height: 536px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.links img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.project-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 60px;
}

.native-icon {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mongo-icon {
  height: 72px;
  width: 72px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: whitesmoke;
}

.project p {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  padding: 0 20px;
}

.anchors {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.project-links a {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid black;
  /* background-color: #7f00ff; */
  color: black;
  text-decoration: none;
  margin-left: 40px;
  font-size: 30px;
  /* box-sizing: content-box; */
}

.wireframes {
  width: 80%;
  display: flex;
  justify-content: center;
}

.frame img {
  width: 360px;
}

.frame-mobile img {
  width: 260px;
}

.frame, .frame-mobile {
  /* width: 50%; */
  /* height: 182px; */
  margin-left: 40px;
  overflow-y: hidden;
}

.frame:hover {
  cursor: pointer;
}

.scroll-button-4 ,
.scroll-button-5 ,
.scroll-button-6 {
  font-size: 28px;
  color: black;
  z-index: 40;
  /* background: black; */
  text-align: center;
  position: relative;
  top: -120px;
}

.scroll-button-5 {
  top: -190px;
}

.scroll-button-6 {
  top: -100px;
}

.scroll-button-4:hover ,
.scroll-button-5:hover ,
.scroll-button-6:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  height: 100px;
  width: 100%;
  /* border: 1px solid purple; */
  align-items: center;
  justify-content: space-around;
  background: black;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.contact p {
  margin-right: 15%;
}

#headshot {
  height:500px;
}

#bullet1 {
  width:380px;
}

#bullet2 {
  width:320px;
}

#bullet3 {
  width:400px;
}

#hand-bio-1 {
  width:600px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#hand-bio-2 {

}

#hand-bio-3 {
  width:600px;
}

#hand-bio-4 {

}

#hand-bio-5 {
  width:80px;
  margin:0 55% 0 35%;
}

@media all and (max-width: 1400px) {

  .headshot-wrapper {
    width: 340px;
    margin: auto 5%;
  }

  .headshot-container {
    width: 320px;
    min-height: 320px;
    max-height: 320px;
  }

  #headshot {
    height: 320px;
  }

  #bullet1 {
    width:300px;
  }

  #bullet2 {
    width:240px;
  }

  #bullet3 {
    width:320px;
  }

  #hand-bio-1 {
    width:450px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #hand-bio-2 {
    width: 400px;
  }

  #hand-bio-3 {
    width: 450px;
  }

  #hand-bio-4 {
    width: 400px;
  }

  #hand-bio-5 {
    width:60px;
    margin:0 55% 0 35%;
  }

  .bio {
    border-top: 5px solid whitesmoke;
  }

  .bio-article-container {
    border-top: none;
  }

  .screenshot-mobile {
    width: 230px;
  }

  .screenshot-mobile-2 {
    height: 410px;
  }

  .frame-mobile img {
      width: 190px;
  }

  .project p {
    font-size: 18px;
  }

  .portfolio {
    padding-top: 10px;
  }

  .screenshot {
    height: 300px;
  }

  .frame img {
    width: 280px;
  }

  .bio-section {
    margin-left: 20%;
  }
}

@media all and (max-width: 1150px) {
  .splash h4 {
    top: -45%;
  }

  .headshot-wrapper {
    width: 340px;
    margin: auto 5%;
  }

  .headshot-container {
    width: 280px;
    min-height: 280px;
    max-height: 280px;
  }

  .bio-section img {
    margin-bottom: 30px
  }

  #headshot {
    height: 360px;
  }

  #bullet1 {
    width:275px;
  }

  #bullet2 {
    width:215px;
  }

  #bullet3 {
    width:295px;
  }

  #hand-bio-1 {
    width:400px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #hand-bio-2 {
    width: 350px;
  }

  #hand-bio-3 {
    width: 400px;
  }

  #hand-bio-4 {
    width: 350px;
  }

  #hand-bio-5 {
    width:40px;
    margin:0 55% 0 35%;
  }

  .bio-section {
    padding: 10px 0px
  }

  .scroll-button-2 {
    font-size: 20px;
  }

  .scroll-button-3 {
    font-size: 20px;
    top: -60px;
  }

  .portfolio {
    padding-top: 10px;
  }

  .right {
    width: 40%;
  }

  .project p {
    font-size: 16px;
  }

  .frame img {
    width: 260px;
  }

  .project h2 {
    font-size: 42px;
  }

  .project-links a {
    font-size: 18px;
  }

  .project-links {
    margin-left: 0;
  }

  .screenshot {
    height: 260px;
  }

  .features {
    margin-top: 50px;
  }

  .scroll-button-4 {
    font-size: 20px;
    top: -50px;
  }

  .scroll-button-5 {
    font-size: 20px;
    top: -150px;
  }

  .screenshot-mobile {
    width: 180px;
  }

  .screenshot-mobile-2 {
    height: 320px;
  }

  .frame-mobile img {
      width: 160px;
  }

  .scroll-button-6 {
    font-size: 20px;
    top: -150px;
  }

  .project {
    margin-bottom: 100px;
  }
}

@media (max-width: 599px) {
  .icons img {
    height: 30px;
    margin: 0 15px;
  }

  .icons {
    flex: 1;
    z-index: 5;
    margin-left: 10.5%;
  }

  .bio-wrapper {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: black;
  }

  .bio {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-around; */
    align-items: center;
    /* height: 100%; */
    /* width: 100%; */
    /* border: 1px solid orange; */
    z-index: 10;
    background-color: black;
    color: whitesmoke;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
  }

  .bio-article-container {
    height: 150%;
    width: 100%;
    border-top: none;
    white-space: nowrap;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    box-sizing: border-box;
  }

  .bio-section {
    margin: 0 auto;
    align-items: center;
  }

  #hand-bio-5 {
    width: 40px;
    margin: 0 55% 0 35%;
    display: none;
  }

  .scroll-button-2 {
    display: none;
  }

  .bullets {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    /* align-items: center; */
  }

  .tech-icon {
    display: inline-block;
    height: 40%;
    width: 25%;
    z-index: 20;
    margin-left: 4%;
    margin-top: 1%;
  }

  .tech-container {
    display: flex;
    height: 840px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
    background-color: black;
    /* border: 1px solid green; */
  }

  .tech-container ul {
    align-content: center;
    position: relative;
    z-index: 5;
    height: 100%;
  }

  .tech-container p {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
  }

  .tech-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
  }

  .tech-container img {
    height: 15%;
    border-radius: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
}

  .scroll-button-3 {
    display: none;
  }

  .divider {
    display: none;
  }

  .splash h1 {
    position: relative;
    top: -60%;
    color: whitesmoke;
    font-size: 42px;
    margin-left: 12%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  .splash h4 {
    display: block;
    width: 100px;
    position: relative;
    top: -45%;
    color: whitesmoke;
    font-size: 64px;
    margin-left: 21%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  .portfolio {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    padding-top: 10px;
  }

  .project {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .screenshot {
    width: 420px;
  }

  .project-links a {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid black;
    /* background-color: #7f00ff; */
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    /* box-sizing: content-box; */
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 40px;
  }

  .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    margin-bottom: 20px;
  }

  .scroll-button-4, .scroll-button-5, .scroll-button-6 {
    display: none;
  }
}

/* @mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
} */
