html,
body {
    height: 100%;
    cursor: cell;
    background: black;
}

/* .stop-scrolling {
  overflow: hidden;
} */

.top-nav {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 20;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
  padding: 0 160px;
  box-sizing: border-box;
}

.nav-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: 1;
}

.icons {
  flex: 1;
  z-index: 5;
}

.icons img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 30px;
  margin: 0 50px;
}

.spacer {
  flex: 1;
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.navigation p {

}

.splash {
  display: block;
  height:100%;
  width: 100%;
}

.splash h1 {
  position: relative;
  top: -60%;
  color: whitesmoke;
  font-size: 78px;
  margin-left: 8%;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.word-1-holder {
  position: absolute;
  top: -200px;
  width: 1000px;
}

.word-2-holder {
  position: absolute;
  top: 300px;
  width: 1000px;
}

.top-letter {
  opacity: 0;
  position: relative;
  top: -200px;
  transition: all 0.5s ease;
}

.bottom-letter {
  opacity: 0;
  position: relative;
  top: 300px;
  transition: all 0.5s ease;
}

.top-letter-show {
  opacity: 1;
  top: 200px;
}

.bottom-letter-show {
  opacity: 1;
  top: -220px;
}

.splash h4 {
  position: relative;
  top: -40%;
  color: whitesmoke;
  font-size: 78px;
  margin-left: 16%;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.splash h4:hover, .headshot-wrapper h4:hover, .tech h4:hover {
  cursor: pointer;
}

.lava {
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: 1;
  left: 65%;
  width: 25%;
  height: 100%;
}

.splash-background {
  background-color: black;
  display: block;
  /* width: 100%; */
  /* height: 100%; */
}

.bio-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: black;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
  z-index: 10;
  background-color: black;
  color: whitesmoke;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.headshot-wrapper {
  height: 100%;
  width: 520px;
  margin: auto 90px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.headshot-container {
  /* border: 1px solid white; */
  height: 520px;
  width: 520px;
  border-radius: 50%;
  margin: 70px auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.headshot-wrapper h4 {
  font-size: 78px;
  color: whitesmoke;
  margin-top: 50px;
}

.bio-article-container {
  height: 100%;
  width: 50%;
  border-top: 5px solid whitesmoke;
  white-space: nowrap;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.bio-section {
  /* border: 1px solid pink; */
  width: 90%;
  height: 90%;
  white-space: normal;
  padding: 10px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio-section p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
}

.education {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 10px;
}

.education  p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.click-me:hover {
  cursor: pointer;
}

.divider {
  width: 90%;
  border-top: 5px solid whitesmoke;
  background-color: black;
  z-index: 15;
}

.tech-container {
  display: flex;
  height: 120%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  background-color: black;
  /* border: 1px solid green; */
}

.tech {
  padding-top: 50px;
  padding-bottom: 80px;
  /* box-sizing: border-box; */
  display: block;
  height: 100%;
  width: 80%;
}

.tech-container img {
  height: 50%;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
}

.tech-background {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.tech-container ul {
  align-content: center;
  position: relative;
  z-index: 5;
  height: 100%;
}

.tech-icon {
  display: inline-block;
  height: 28%;
  width: 20%;
  z-index: 20;
  margin-left: 4%;
  margin-top: 1.2%;
}

.tech-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tech-container p {
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 10%;
}

.tech h4 {
  font-size: 42px;
  color: whitesmoke;
  margin-bottom: 30px;
  z-index: 16;
  position: relative;
  top: -60px;
}

.tech h4:hover {
  cursor: pointer;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  /* border: 1px solid purple; */
  background-color: black;
  padding-top: 60px;
}

.project {
  width: 30%;
  /* border: 5px solid whitesmoke;
  border-radius: 10px; */
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: whitesmoke;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-divider {
  width: 2%;
  height: 90%;
  border-right: 2px solid whitesmoke;
}

.project h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.project img {
  padding: 30px 0;
  height: 180px;
}

.project .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.native-icon {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mongo-icon {
  height: 72px;
  width: 72px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project p {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  padding: 0 20px;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.anchors {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.project a {
  padding: 10px 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  text-decoration: none;
  margin: 20px;
  font-size: 24px;
}

.scroll-button-4 {
  font-size: 42px;
  color: whitesmoke;
  z-index: 40;
  background: black;
  text-align: center;
  position: relative;
  top: -40px;
  }

.scroll-button-4:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  height: 100px;
  width: 100%;
  /* border: 1px solid purple; */
  align-items: center;
  justify-content: space-around;
  background: black;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
